{% extends 'base.html' %}
{% block content %}
<div class="card">
    <h2>Attendance Report - {{ classroom.name }}</h2>
    <table>
        <tr>
            <th>Student Name</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        {% for att in attendances %}
        <tr>
            <td>{{ att.student.name }}</td>
            <td>{{ att.date.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>{{ att.status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}